*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main{
    /* border: 2px solid black; */
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    /* position: relative; */
    perspective: 1000px;
}
.box-1{
    /* position: absolute; */
    background-color: red;
    height: 150px;
    width:  150px;
    /* width: 100%; */
    transition-duration: 800ms;
    transition-timing-function: ease;
}
.box-2{
    /* position: absolute; */
    background-color: blue;
    height: 150px;
    width:  150px;
    /* width: 100%;  */
    /* transform-origin: top; */
    /* transform-origin: top left; */
    transform-origin: 100px 50px;
    transition-duration: 800ms;
    transition-timing-function: ease;
}
.box-1:hover{
    /* transform: translateY(200px); */
    /* transform: rotate(45deg); */
    transform: rotateY(90deg);

}
.box-2:hover{
    transform: translateZ(100px);
    /* transform: rotate(180deg); */
    /* transform: skew(45deg, 30deg); */
}

.btn{
    border: 2px solid tomato;
    background-color: transparent;
    color: tomato;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
 
    
}
.btn::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    /* background-color: tomato; */
    background-color: white;
    /* transform: translate(100px); */
    /* transform: rotate(120deg); */
    transform: scaleX(0);
    transition-duration: 800ms;
    transition-property: all;
    transition-timing-function: ease;

}
.btn:hover{
    /* transform: scale(1.1); */
    color: white;
   
}
.btn:hover:after{

    /* transform: translate(0px); */
    transform: scaleX(1);

    background-color: tomato;
}
/* ---------------------------- */
.main-1{
    background-color: rgb(10, 0, 58);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.loading div{
    position: absolute;
}
.glass{
    height: 200px;width: 200px;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 100%;
    z-index: 3;
    backdrop-filter: blur(10px);

}
.glass-2{
    background-color: tomato;
    height: 70px;
    width: 70px;
    border-radius: 5px;
    transform: translateX(-250px);
    animation: rotation 3s ease-in-out infinite ;
}

@keyframes rotation{
    0%{
    transform: translateX(-250px) rotate(0);
    z-index: 1;

    }
    50%{
    transform: translateX(250px) rotate(180deg);
    /* z-index: 1; */

    }
    100%{
    transform: translateX(-250px) rotate(360deg);
    z-index: 6;

    }
}

/* ----------------------- */

.main-2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: tomato;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    clip-path: circle(8% at 94% 22%);
    transition: all ease-in-out 500ms;
}
.card:hover{
    clip-path: circle(70.7% at 50% 50%);
}

/* ----------------------------- */

.main-3{
    background-color: rgb(21, 3, 82);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
font-size: 5rem;
font-weight: 800;
}
.alphabet{
    color: white;
    transition: all ease-in-out 500ms;
}
.container:hover .alphabet{
    color: rgb(235, 9, 235);
}